<div class="modal-header">
  <h3 class="modal-title">Edit Data Set</h3>
</div>
<div class="modal-body">
  <div style="margin-bottom: 10px;">
    <div style="width: 15%; float: left; text-align: right; margin-right: 5px;">Name:</div>
      <div style="width:85%; margin-left:10px;">
        <input type="text" ng-model="source.name"/>
      </div>
  </div>
  <div>
    <div style="width: 15%; float: left; text-align: right; margin-right: 5px;">Source:</div>
      <div style="width:85%; margin-left:10px;">
        <input type="text" ng-model="source.url"/>
      </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
</div>
