<h2>Data Sources</h2>
<div class="row" style="width=300px">
  <div class="col-md-6">
  	<div class="list-group">
	  <a href="#1" class="list-group-item" onclick="$('#a').show()">Data Source 1</a>
	  <a href="#2" class="list-group-item" onclick="$('#a').show()">Data Source 2</a>
	</div>
	<button type="button" class="btn btn-default">Create New</button>
  </div>
  <div class="col-md-6" id="a" style="display: none;">
  	<textarea class="span6" rows="3"></textarea>
  	<div class="btn-group" role="group" aria-label="...">
	  <button type="button" class="btn btn-default">Edit</button>
	  <button type="button" class="btn btn-default">Clone</button>
	  <button type="button" class="btn btn-default">Delete</button>
	</div>
  </div>
</div>

