<style>
.hiddenRow {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-top: none !important;
}
.hiddenRowContents {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}
</style>

<h2>Data Sets</h2>
<div class="panel panel-default">
  <div ng-controller="dataSetsButtonController">
    <a class="btn btn-success btn-xs pull-right" ng-click="openNewModal()">New Data Set</a>
  </div>
  <div class="panel-body">
    <table class="table table-hover fixed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Last Modified</th>
        </tr>
      </thead>
      <tbody ng-repeat="dataSet in dataSets">
        <tr data-toggle="collapse" data-target="#expand{{dataSet._id}}" class="accordion-toggle">
          <td>{{dataSet.name}}</td>
          <td>{{dataSet.updated_on.toLocaleString()}}</td>
        </tr>
        <tr>
          <td colspan="2" class="hiddenRow">
            <div id="expand{{dataSet._id}}" class="accordian-body collapse hiddenRowContents">
              <div class="row">
                <div class="col-md-8">
                  <table style="width:90%;">
                    <tr>
                      <td><b>Base Source:</b></td>
                      <td>{{dataSet.name}}</td>
                    </tr>
                    <tr>
                      <td><b>Data Properties:</b></td>
                      <td>{{dataSet.propertiesList}}</td>
                    </tr>
                    <tr>
                      <td><b>Created On:</b></td>
                      <td>{{dataSet.created_on.toLocaleString()}}</td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-4">
                  <div ng-controller="dataSetsButtonController">
                    <div class="btn-group btn-group-sm" role="group">
                      <button type="button" class="btn btn-default" ng-click="openEditModal()">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                      </button>
                      <button type="button" class="btn btn-default" ng-click="openCloneModal()">
                        <span class="glyphicon glyphicon-duplicate"></span> Clone
                      </button>
                      <button type="button" class="btn btn-default" ng-click="openDeleteModal()">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
