<h2>Data Sets</h2>
<div class="row" style="width=300px">
  <div class="col-md-6">
  	<div class="list-group">
	  <a href="#1" class="list-group-item" onclick="$('#a').show()">Data Set 1</a>
	  <a href="#2" class="list-group-item" onclick="$('#a').show()">Data Set 2</a>
	</div>
	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#createSet">Create New</button>
  </div>
  <div class="col-md-6" id="a" style="display: none;">
  	<div><textarea class="span6" rows="10"></textarea></div>
  	<div class="btn-group" role="group" aria-label="...">
	  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editSet">Edit</button>
	  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#cloneSet">Clone</button>
	  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#deleteSet">Delete</button>
	</div>
  </div>
</div>

<div class="modal fade" id="createSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New Data Set</h4>
      </div>
      <div class="modal-body">
        <div style="margin-bottom: 10px;">
          <div style="width: 10%; float: left; text-align: right;">Name:</div>
          <div width: 85%; float: left; margin-left 10px;><input type="text"></div>
        </div>
        <div>
          <div style="width: 10%; float: left; text-align: right;">Source:</div>
          <div width: 85%; float: left; margin-left 10px;><textarea class="span6" rows="10"></textarea></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Data Set</h4>
      </div>
    	<div class="modal-body">
        <div style="margin-bottom: 10px;">
          <div style="width: 10%; float: left; text-align: right;">Name:</div>
          <div width: 85%; float: left; margin-left 10px;><input type="text" value="Data Set 1"></div>
        </div>
        <div>
          <div style="width: 10%; float: left; text-align: right;">Source:</div>
          <div width: 85%; float: left; margin-left 10px;><textarea class="span6" rows="10" value="Some Data"></textarea></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cloneSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Clone Data Set</h4>
      </div>
      <div class="modal-body">
        <div style="margin-bottom: 10px;">
          <div style="width: 10%; float: left; text-align: right;">Name:</div>
          <div width: 85%; float: left; margin-left 10px;><input type="text"></div>
        </div>
        <div>
          <div style="width: 10%; float: left; text-align: right;">Source:</div>
          <div width: 85%; float: left; margin-left 10px;><textarea class="span6" rows="10" value="Some Data"></textarea></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteSet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Data Set</h4>
      </div>
      <div class="modal-body">
      	Are you sure you wish to delete DataSet 1?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>