<h2>Generate Report</h2>
<div ng-controller="generationController" ng-init="init()">

	<img id="image" src="http://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"/>

	<div class="row">
		<div class="col-lg-4">
			<h5>Select Recipe:</h5>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <table class="table table-hover fixed">
			      <thead>
			        <tr>
			          <th>Name</th>
			          <th>Last Modified</th>
			        </tr>
			      </thead>
			      <tbody>
			      	<tr ng-repeat="recipe in allRecipes">
			      		<td ng-model="recipe.name">{{recipe.name}}</td>
			      		<td ng-model="recipe.updated_on">{{recipe.updated_on}}</td>
			      	</tr>
			      </tbody>
			    </table>
			  </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<h5>Add Email:</h5>
		</div>
		<div class="col-lg-4">
			<input ng-model="email" type="text" required="required"/>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
		</div>
		<div class="col-lg-4">
			<button type="button" ng-click="generate()" class="btn btn-default">Generate</button>
		</div>
	</div>
</div>