<h2>Generate Report</h2>
<div class="row">
	<div class="col-lg-6">
		<h5>Select Template:</h5>
	</div>
	<div class="col-lg-6">
		<div class="list-group">
			<button type="button" class="list-group-item active">Template 1</button>
			<button type="button" class="list-group-item">Template 2</button>
			<button type="button" class="list-group-item">Template 3</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<h5>Select Link Data:</h5>
	</div>
	<div class="col-lg-6">
		<div class="list-group">
			<button type="button" class="list-group-item active">Link Data 1</button>
			<button type="button" class="list-group-item">Link Data 2</button>
			<button type="button" class="list-group-item">Link Data 3</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<h5>Output Format:</h5>
	</div>
	<div class="col-lg-6">
		<div class="list-group">
			<button type="button" class="list-group-item active">PDF</button>
			<button type="button" class="list-group-item active">HTML</button>
			<button type="button" class="list-group-item">Doc</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<h5>Add Email:</h5>
	</div>
	<div class="col-lg-6">
		<input type="text"/>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
	</div>
	<div class="col-lg-6">
		<button type="button" class="btn btn-default">Generate</button>
	</div>
</div>