<div class="col-lg-12 text-center">
  <h1>Welcome to <b>Reporta</b>!</h1>
    <p>It's some sort of fancy report generation framework</p>
    <p><a class="btn btn-primary btn-lg" href="/login" role="button">Login to get started</a></p>
</div>
