<h2>New Recipe</h2>

<style>
.form-control {
  width:auto;
}
</style>

<script src="/ckeditor/ckeditor.js"></script>

<div class="well">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Select template: </label>
      <div class="col-sm-9">
        <select class="form-control" onchange= "var e = document.getElementById('recipeEditor'); if (this.value != '') e.style.display = 'block'; else e.style.display = 'none'; ">
            <option value='' disabled selected style='display:none;'> </option>
            <option value="one">One</option>
            <option value="two">Two</option>
            <option value="three">Three</option>
            <option value="four">Four</option>
            <option value="five">Five</option>
        </select>
      </div>
    </div>
  </form>
</div>

<div id="recipeEditor" style="display: none">
  <div class="row">
    <div class="col-md-8">
        <div ng-controller="ckeditorRecipeController">
          <textarea name="editor1" id="editor1" rows="10" cols="40">
            This is my textarea to be replaced with CKEditor.
          </textarea>
        </div>
    </div>
    <div class="col-md-4">
      <div class="well">
      <form role="form">

        <div class="form-group">
          <label class="control-label">Select data 1: </label>
          <select class="form-control">
                <option value='' disabled selected style='display:none;'> </option>
                <option value="one">One</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <option value="four">Four</option>
                <option value="five">Five</option>
          </select>
        </div>

        <div class="form-group">
          <label class="control-label">Select data 2: </label>
          <select class="form-control">
                <option value='' disabled selected style='display:none;'> </option>
                <option value="one">One</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
                <option value="four">Four</option>
                <option value="five">Five</option>
          </select>
        </div>

      </form>
      </div>
    </div>
  </div>
  <br/>
  <div>
    <button type="button" class="btn btn-default" onclick="location.href='/recipes'">Cancel</button>
    <button type="button" class="btn btn-default" onclick="location.href='/recipes'">Save</button>
  </div>

</div>


