<style>
.form-control {
  width:auto;
}
</style>

<script src="/ckeditor/ckeditor.js"></script>

<div class="well">
  <form class="form-horizontal">

    <div class="form-group">
      <div class="col-sm-9" ng-controller="recipeDataSourceSelectController">
        <label class="col-sm-4 control-label">Default data source: </label>
        <select id="dataSourceSelect" class="selectpicker" ng-model="dataSources.repeatSelect">
            <option value='' disabled selected style='display:none;'> </option>
            <option ng-repeat="dataSource in dataSources" value="{{dataSource.name}}">{{dataSource.name}} </option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-9" ng-controller="recipeTemplateSelectController">
        <label class="col-sm-4 control-label">Select template: </label>
        <select id="templateSelect" class="selectpicker" ng-model="templates.repeatSelect">
            <option value='' disabled selected style='display:none;'> </option>
            <option ng-repeat="template in templates" value="{{template.name}}">{{template.name}} </option>
        </select>
      </div>
    </div>

  </form>
</div>

<div id="recipeEditorForm" style="display: none">

  <h3><p id="recipeTitle" contenteditable="true" style="width:300px">New Recipe</p></h3>

  <div class="row">
    <div class="col-md-8">
        <textarea name="recipeEditor" id="recipeEditor" rows="10" cols="40">
        </textarea>
    </div>
    <div class="col-md-4">
      <div class="well" id="formDiv">
      </div>
    </div>
  </div>
  <br/>
  <div>
    <button type="button" class="btn btn-default" onclick="location.href='/recipes'">Cancel</button>
    <button type="button" class="btn btn-default" ng-click="save()">Save</button>
  </div>

</div>


