<div class="container">
  <div class="row">

    <div class="tabbable">
      <ul class="nav nav-pills nav-stacked col-md-2 h5">
        <li class="active"><a href="#dashboard" data-toggle="tab">Dashboard</a></li>
        <li><a href="#datasources" data-toggle="tab">Data Sources</a></li>
        <li><a href="#datasets" data-toggle="tab">Data Sets</a></li>
        <li><a href="#templates" data-toggle="tab">Templates</a></li>
        <li><a href="#recipes" data-toggle="tab">Recipes</a></li>
        <li><a href="#generate" data-toggle="tab">Generate Report</a></li>
      </ul>
      <div class="tab-content col-md-9" style="left:5px width:100%">
        <div class="tab-pane active" id="dashboard">{{> dashboard}}</div>
        <div class="tab-pane" id="datasources">{{> datasources}}</div>
        <div class="tab-pane" id="datasets">{{> datasets}}</div>
        <div class="tab-pane" id="templates">{{> templates}}</div>
        <div class="tab-pane" id="recipes">{{> recipes}}</div>
        <div class="tab-pane" id="generate">{{> generate}}</div>
      </div>
    </div>
  </div>
</div>
