<style>
div.padding {
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-left: 50px;
}
</style>

<script src="/ckeditor/ckeditor.js"></script>
<div class="padding">
  <h3><p id="title" contenteditable="true" style="width:300px">New Template</p></h3>
    <textarea rows = 30 name="templateEditor" id="templateEditor" style="width:90%">
    </textarea>
</div>
<div align="right" style="padding-right:5%">
  <button type="button" class="btn btn-default" ng-click="save()">Save</button>
  <button type="button" class="btn btn-default" onclick="location.href='templates'">Cancel</button>
</div>
