<style>
.hiddenRow {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-top: none !important;
}
.hiddenRowContents {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}
</style>

<h2>Templates</h2>

<div class="panel panel-default">
  <div ng-controller="dataSourceButtonController">
    <a class="btn btn-success btn-xs pull-right" href="template_editor" id="dashboard-new-template" ng-click="newTemplate()">New Template</a>
  </div>
  <div class="panel-body">
    <table class="table table-hover fixed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Last Modified</th>
        </tr>
      </thead>
      <tbody ng-repeat="template in templates">
        <tr data-toggle="collapse" data-target="#expand{{template._id}}" class="accordion-toggle">
          <td>{{template.name}}</td>
          <td>{{template.updated_on.toLocaleString()}}</td>
        </tr>
        <tr>
          <td colspan="2" class="hiddenRow">
            <div id="expand{{template._id}}" class="accordian-body collapse hiddenRowContents">
              <div class="row">
                <div class="col-md-8">
                  <table style="width:35%;">
                    <tr>
                      <td><b>Info1:</b></td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td><b>Created On:</b></td>
                      <td>{{template.created_on.toLocaleString()}}</td>
                    </tr>
                    <tr>
                      <td><b>Created On:</b></td>
                      <td>{{template.created_on.toLocaleString()}}</td>
                    </tr>
                    <tr>
                      <td><b>Created On:</b></td>
                      <td>{{template.created_on.toLocaleString()}}</td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-4">
                  <div ng-controller="templatesButtonController">
                    <div class="btn-group btn-group-sm" role="group">
                      <button type="button" class="btn btn-default" ng-click="editTemplate()">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                      </button>
                      <button type="button" class="btn btn-default" ng-click="cloneTemplate()">
                        <span class="glyphicon glyphicon-duplicate"></span> Clone
                      </button>
                      <button type="button" class="btn btn-default" ng-click="openDeleteModal()">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
