<h2>Templates</h2>
<div class="col-lg-6">

  <div class="panel panel-default">
    <a class="btn btn-success btn-xs pull-right" target="_self" href="/templateEditor" id="dashboard-new-template">New Template</a>
    <div class="panel-body">
      <table class="table table-hover fixed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Last Modified</th>
            <th>Created On</th>
          </tr>
        </thead>
        <tr onclick="$('#templateActions').show(); this.className='active'">
          <td>a</td>
          <td>b</td>
          <td>c</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="col-lg-6" id="templateActions" style="display: none;">
  <div><textarea class="span6" rows="10"></textarea></div>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" onclick="location.href='/templateEditor'">Edit</button>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#cloneTemplate">Clone</button>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#deleteTemplate">Delete</button>
  </div>
</div>
<div class="modal fade" id="cloneTemplate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Clone template</h4>
      </div>
      <div class="modal-body">
        <div>Name: <input type="text" value=""></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteTemplate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirm delete</h4>
      </div>
      <div class="modal-body">
        Are you sure you wish to delete this template?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>