doctype html

html(ng-app="reporta")

  head
    meta(charset="utf8")
    base(href='/')
    title Reporta

  link(rel='stylesheet', href='css/bootstrap.min.css')

  nav.navbar.navbar-default.navbar-static-top
    .container
      .navbar-header
        a.navbar-brand(href="/") Reporta

      .navbar-nav.navbar-right.navbar-text
        div(ng-init='user = #{JSON.stringify(user)}') #{user.displayName}

  div(ng-controller='navController')
    .container
      .row
        .tabbable
          ul.nav.nav-pills.nav-stacked.col-md-2.h5
            li#dashboard
              a(href="dashboard", data-toggle="tab") Dashboard
            li#data_sources
              a(href="data_sources", data-toggle="tab") Data Sources
            li#data_sets
              a(href="data_sets", data-toggle="tab") Data Sets
            li#templates
              a(href="templates", data-toggle="tab") Templates
            li#recipes
              a(href="recipes", data-toggle="tab") Recipes
            li#generate_report
              a(href="generate_report", data-toggle="tab") Generate Report

        .col-md-9(style='left:5px width:100%')
          div(ng-view)

script(src="js/angular.js")
script(src="js/angular-route.js")
script(src="js/jquery-2.1.4.min.js")
script(src="js/bootstrap.min.js")
script(src="js/ui-bootstrap-tpls-0.13.2.min.js")
script(src="/ckeditor/ckeditor.js")
script(src="angular/routing.js")
script(src="angular/controllers/nav_controllers.js")
script(src="angular/controllers/data_source_controllers.js")
script(src="angular/controllers/ckeditor_controllers.js")