{{> header}}

<style>
div.padding {
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-left: 50px;
}
</style>


<script src="//cdn.ckeditor.com/4.5.1/full/ckeditor.js"></script>
<div class="padding">
  <h3><p contenteditable="true" style="width:300px">Template Name</p></h3>
  <textarea name="templateEditor" id="templateEditor" style="width:90%">INSERT EXISTING
    TEMPLATE HERE
  </textarea>
</div>
<script>
  CKEDITOR.disableAutoInline = true;
  CKEDITOR.replace('templateEditor');
</script>

<div align="right" style="padding-right:5%">
  <button type="button" class="btn btn-default" onclick="location.href='#templates'">Save</button>
  <button type="button" class="btn btn-default" onclick="location.href='#templates'">Cancel</button>
</div>
